<div class="row">
    <div class="col-12 d-flex align-items-center py-1">
        <i class="fa fa-map-marker pr-3"></i>
        <h6 class="my-0">{{data.contacto.direccion}}</h6>
    </div>
    <div class="col-12 d-flex align-items-center py-1">
        <i class="fa fa-phone pr-3"></i>
        <h6 class="my-0">{{data.contacto.telefono}}</h6>
    </div>
    <div class="col-12 d-flex align-items-center py-1">
        <i class="fa fa-envelope pr-3"></i>
        <h6 class="my-0">{{data.contacto.email}}</h6>
    </div>
</div>