.profile{
    max-width: 170px !important;    
}

.full-heigth{
    position:absolute;
    bottom:0;
}

.heigth-full{
    height: 100vh;
}

@media (max-width: 991px) {
    .full-heigth{
        position:inherit;
        bottom:0;
    }

    .heigth-full{
        height: 100%;
    }
  }
