<div class="row px-3 py-4 d-none d-lg-block">
    <div class="col-12">
        <div class="h1 font-weight-bolder pt-2 my-0">{{data.nombre}}</div>
    </div>
    <div class="col-12">
        <div class="h5 py-1 my-0 font-italic">{{ data.cargo }}</div>
    </div>
</div>
<div class="row px-3 py-4">
    <div class="col-12">
        <app-skill></app-skill>
    </div>
    <div class="col-12">
        <app-experience></app-experience>
    </div>
    <div class="col-12">
        <app-education></app-education>
    </div>
</div>